@media (max-width: 924px) {
  .about-wrapper {
    flex-direction: column;

    .about-left {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 752px) {
  .header {
    button {
      margin: 5px 0 !important;
    }
  }
}
