$color: #f8f8ff;
$gold: #d7be69;

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");

@import "media";

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: $color;
}

.about-me {
  height: auto;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.342), #ffffff52), url("../images/sky.jpg");
  padding: 30px 0;
  background-attachment: fixed;
}

.my-image {
  background: url("../assets/img1.png");
  width: 220px;
  background-position: center;
  background-size: cover;
  height: 220px;
  border-radius: 50%;
}

.about-wrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  .about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      font-size: 1.2rem;
      padding: 10px 0 0 0;
    }
    img {
      display: block;
      width: 100%;
      max-width: 400px;
      max-height: 550px;
    }
  }

  .about-right {
    flex: 1;
    font-family: "Noto Sans JP";

    h1 {
      margin-bottom: 30px;
    }
  }
}

.portfolio {
  height: auto;
  padding: 50px 0;
  font-family: "Noto Sans JP";
  background: rgb(255, 255, 255);

  .portfolio-wrapper {
    width: 70%;
    margin: auto;

    .portfolio_p {
      text-align: center;
      margin-bottom: 15px;
    }

    h1 {
      text-align: center;
      font-size: 30px;
    }

    .categories {
      display: flex;
      align-items: center;
      margin: auto;
      margin-bottom: 20px;

      button {
        border: none;
        background: none;
        font-size: 20px;
        margin-right: 15px;
        font-family: "Noto Sans JP";
      }

      button::after {
        content: "";
        width: 0;
        display: block;
        height: 2px;
        background-color: #cfc9c6;
        background-image: linear-gradient(62deg, #d6d3d0 0%, #9e9a90 100%);

        margin-top: 2px;
        transition: ease width 0.3s;
      }

      button:hover::after {
        width: 100%;
        transition: ease width 0.3s;
      }

      button:focus {
        outline: none;
      }
    }

    .projects {
      display: grid;
      height: inherit;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

      gap: 10px;
    }

    .project {
      display: flex;
      flex-direction: column;
      height: 260px;
      padding-bottom: 20px;
      box-shadow: 0 0 2px black;
      cursor: pointer;
      position: relative;
    }

    .project:hover .overlay {
      transition: ease height 0.3s;
      height: 100%;
    }

    .p-1 {
      background: url("../images/p1.png");
      background-size: cover;
      background-position: center;
    }

    .p-2 {
      background: url("../images/p2.png");
      background-size: cover;
      background-position: center;
    }

    .p-3 {
      background: url("../images/p3.png");
      background-size: cover;
      background-position: center;
    }

    .p-4 {
      background: url("../images/p4.png");
      background-size: cover;
      background-position: center;
    }

    .p-5 {
      background: url("../images/p5.png");
      background-size: cover;
      background-position: center;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      background: #ffffff;
      color: rgb(124, 120, 120);
      display: flex;
      flex-direction: column;

      transition: ease height 0.3s;

      .overlay-right {
        display: flex;
        padding: 15px;

        .overlay-right_demo {
          margin-right: 15px;
        }
      }

      .overlay-left {
        padding: 15px;
      }

      .tech_header {
        font-size: 0.9rem;
        margin-top: 15px;
      }

      span {
        display: block;
      }

      .project-name {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      .tech {
        color: #838281;
        opacity: 0.8;
      }

      .visit {
        display: inline-block;
        color: rgb(60, 62, 92);
        position: relative;
      }

      a {
        text-decoration: none;
        color: rgb(4, 4, 167);
      }
    }
  }
}
